
@model MenuItem;


@{
    ViewData["Greeting1"]= "Welcome to the";
    ViewData["Greeting2"] = "Hotel-Name";
}

<style>

    .card{
        z-index: 99;
    }

</style>

<body onload="window.location = '#heading' ">

    <div class="w-25 container align-self-center">

        <h2 id="heading" class="display-5 text-center">Dish Details</h2> 

        <div class="card">
            <img class="card-img-top" src="@Model.ImgUrl" alt="Card image cap">
            <div class="card-body">

                @using(Html.BeginForm("PurOrderFor","Product", FormMethod.Post)) {
                    <h5 class="card-title">@Model.Name</h5>

                    <p class="card-text">

                        TODO: Here Goes the description for the product
                    </p>

                    <label>Cost - </label>
                    <input name="cost" type="number" value="@Model.Cost" readonly />

                    <br />

                    <label>Qty (1-9) - </label>
                    <input name="qty" min=1 max=9 type="number" value="1" />
                    <br />
                    @if(Convert.ToInt32(ViewData["uid"]) == 0){

                        <div class="alert alert-danger" role="alert">
                          Log In to Put order
                        </div>
                        
                    }else{
                        <label>Address - </label>
                        <textarea name="address" >

                        </textarea>


                        <input name="uid" type="hidden" value="@ViewData["uid"]"/>
                        <input name="id" type="hidden" value="@Model.Id"/>
                        <input type="submit" class="btn w-100 btn-primary" value="Place Order for @Model.Name" />

                    }
                }
                <p class="card-text"><small class="text-muted">Add address on next page</small></p>
            </div>
        </div>

    </div>

</body>
